.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a.active {
  border: 2px solid #121ab7;
  color: #121ab7;
  font-style: italic;
}

nav a {
  border: 2px solid #535bf2;
  border-radius: 6px;
  padding: 6px;
}

nav {
  display: flex;
  gap: 6px;
}

main {
  padding-top: 70px;
  flex-grow: 1;
}

footer {
  padding-block: 10px;
  text-align: center;
}

#logout-btn {
  position: fixed;
  right: 15px;
  top: 15px;
}